*{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background: #DADBDD;
}
nav{
	z-index:3;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	background: #fff;
	width: 90px;
	overflow: hidden;
	transition: width 0.2s linear;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
	text-align: center;
	display: flex;
	transition: all 0.5s ease;
	padding: 10px 0 0 20px;
}
.logo img{
	width: 35px;
	height: 35px;
	margin: 10px 2px 20px 8px;
}
.logo span{
	font-weight: bold;
	padding-left: 15px;
	font-size: 18px;
	text-transform: uppercase;
	overflow: hidden;
	margin-top: 5px;
	margin-bottom: 30px;
}
a{
	position: relative;
	color: rgb(85, 83, 83);
	font-size: 14px;
	display: table;
	width: 300px;
	padding: 10px;
}
.fas{
	position: relative;
	width: 70px;
	height: 40px;
	top: 14px;
	font-size: 20px;
	text-align: center;
}
.nav-item{
	position: relative;
	top: 12px;
	margin-left: 10px;
}
a:hover{
	background: #eee;
}
nav:hover{
	width: 240px;
	transition: all 0.5s ease;
}
.logout{
	color: rgb(85, 83, 83);
	font-size: 14px;
	display: table;
	width: 300px;
	padding: 10px;
	position: absolute;
	bottom: 0;
}
.top-nav{
	z-index:2;
	position: fixed;
	width:100%;
	height:75px;
	padding-top:27px;
	background: #fff;
	text-decoration:none;
}
.top-nav span{
	font-weight: bold;
	padding: 10px 0 0 120px;
	font-size: 18px;
	color: rgb(85, 83, 83);
	text-transform: uppercase;
}
.search{
	border: solid rgb(85, 83, 83) 1px;
	width: 300px;
	height: 30px;
	float: right;
	margin-right: 50px;
	border-radius:10px;
}
.search-txt{
	font-size: 14px;
	color: gray;
	width: 70%;
	height: 100%;
	float: left;
	padding-left: 15px;
	padding-top: 6px;
}
.search-btn{
	font-size: 14px;
	width: 29%;
	height: 100%;
	float: right;
	background: rgb(85, 83, 83);
	color: #fff;
	text-align: center;
	padding-top: 6px;
	border-radius: 0 10px 10px 0;
}
.search-btn:hover{
	background: gray;
	color: black;
}
.welcome-text{
	color: white;
	align-items: center;
	font-size: 24px;
	position: absolute;
	width: 900px;
	height: 300px;
	margin: 16% 23%;
	text-align: center;
}
.definition{
	color: white;
	font-size: 17px;
	position: absolute;
	width: 900px;
	height: 300px;
	margin: 20% 23%;
	text-align: center;
}
.intro{
	position: absolute;
	width: 890px;
	height: 300px;
	color: white;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 80px;
	margin: 22% 22%;
	text-align: center;
}
.background{
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("background.jpg");
	background-size: cover;
	height: 100vh;
	padding-bottom: 40px;
}
.photo-gallery{
	z-index:1;
	width: 90%;
	padding-left: 100px;
	padding-top: 130px;
	padding-bottom: 30px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}
.pic{
	position: relative;
	width: 280px;
	border-radius: 10px;
	cursor: pointer; 
}
.pic img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: .5s;
}
.pic::before{
	content:"YEN SANGALANG";
	position: absolute;
	top: 50%;
	left: 25%;
	color: white;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	opacity: 0;
	margin-top: -100px;
	transition: .3s;
	transition-delay: .2s;
	z-index: 1;
}
.pic:after{
	content: "";
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	border-radius: 10px;
	height: 0;
	background-color: rgba(0, 0, 0, .4);
	transition: .3s;
}
.pic:hover::after{
	height: 100%;
}
.pic:hover::before{
	margin-top: 0;
	opacity: 1;
}
.footer{
	background: #111;
	height: auto;
	width: 100%;
	padding-top: 40px;
	color: #fff;
	bottom:0;
}
.footer-content{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
	padding-left: 90px;
}
.footer-content h3{
	font-weight: bold;
	font-size: 21px;
	color: rgb(85, 83, 83);
	text-transform: uppercase;
	line-height: 3rem;
	padding-top: 20px;
}
.footer-content p{
	max-width: 500px;
	margin: 5px auto;
	line-height: 28px;
	font-size: 14px;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 5px 15px 5px;
}
.socials li{
	margin: 0 10px;
}
.socials a{
	position: relative;
	color: rgb(85, 83, 83);
	width: 10px;
	padding: 8px;
	text-decoration: none;
}
.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}
.socials a:hover i{
	color: #fff;
}
.socials a:hover{
	background: rgb(85, 83, 83);
	border-radius: 50%;
}
.footer-bottom{
	background: rgb(85, 83, 83);
	width: 100%;
	padding: 20px 0;
	text-align: center;
	padding-left: 90px;
}
.footer-bottom p{
	font-size: 12px;
	word-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	color: #fff;
	font-weight: 200;
}